.search-container {
    box-sizing: border-box;
    padding: 8px;
    width: 100%;

    .search-brand-wrapper {
        width: 100%;
        text-align: center;

        .search-brand {
            width: 100px;
            height: auto;
        }
    }

    .search-form-wrapper {
        .search-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .form-field {
                width: 100%;
            }

            .submit-button {
                width: 100%;
            }
        }
    }

    .search-result-wrapper {
        margin-top: 8px;

        .search-result {
            width: 100%;

            .result-list {
                width: 100%;
            }
        }

        .spinner-wrapper {
            display: flex;
            justify-content: center;
        }
    }
}

@media screen and (min-width: 568px) {
    .search-container {
        margin: 0 auto;
        padding: 24px;
        width: 500px;

        .search-form-wrapper .search-form {
            flex-direction: row;
            justify-content: start;
            align-items: center;
            margin: 0 auto;
            width: 400px;

            .form-field {
                width: 300px;
            }

            .submit-button {
                margin-left: 24px;
                width: 100px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .search-container {
        width: 700px;
    }
}
